{% extends 'base/base.htm' %}
{% block main %}
<!-- 模态框（Modal） -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="delModalLabel">
                    你确定要删除吗？
                </h4>
            </div>
            <div class="modal-body">
                按下 ESC 按钮退出。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id = "del_btn">
                    删除
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container" style = "overflow-x:auto;">
    
    <h1>{{bsns_table_dict['$DISP_name']['ZH']}}</h1>
    {% if bsns_table_dict['$TYPE'] == 'table' %}
        您正在数据表中搜索。<a href = "/tmplt_based_ui/target_insert_form?b_name={{bsns_table_dict['$TBNM']}}" >Add New</a>
    {% elif bsns_table_dict['$TYPE'] == 'view'%}
        您正在视图中搜索。
    {% else %}
        Error!
    {% endif %}
    <div id = "message_div">&nbsp;</div>
    {% if query_result|length > 0 %}
        <table class = "table">
        <thead>
            <tr>
            {% for column_name in query_result[0].keys() %}
                <th>{{bsns_table_dict['$COLU'][column_name]['$DISP_name']['ZH']}}</th>
            {% endfor %}
            <th>操作</th>
            </tr>

        </thead>
        <tbody>

    {% for row in query_result %}
        <tr >
        {% set ns = namespace(id_val = 0) %}
        {% for key,value in row.items() %}

            
            {% if bsns_table_dict['$PMKY'] == key %}
                {% set ns.id_val = value %}
            <td><a href = "target_scope?id={{value}}&b_name={{bsns_table_dict['$TBNM']}}">{{value}} </a></td>
            {% else %}
            <td>{{value}} </td>

            {% endif %}

        {% endfor %}
            <td>
                <a href = "target_scope?id={{ns.id_val}}&b_name={{bsns_table_dict['$TBNM']}}"> 查看 </a> 
                <a href = "target_update_form?id={{ns.id_val}}&b_name={{bsns_table_dict['$TBNM']}}"> 修改 </a> 
                <a href = "#" data-toggle="modal" data-target="#delModal"   onclick = "id_to_del = {{ns.id_val}}"> 删除 </a>
            </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>


    {% else %}
        <p>查找结果为空。</p>
    {% endif %}
</div>
<script>
    id_to_del = 0;
    b_name = "{{bsns_table_dict['$TBNM']}}";

    function submit_del_info(){
        $("#message_div").text("Loading...");
                $.ajax({
                    type: "POST",
                    url:"/general/json_api/target_delete",
                    data:"VAR_b_name="+b_name + "&VAR_tar_id=" +id_to_del ,
                    // return data type
                    dataType: "json",
                    error: function(request) {
                        alert("Submit Connection Error");
                    },
                    success: function(result_json) {
                        $("#message_div").text(result_json.text);
                        //update_user_info();
                        if(result_json.status == "succeeded"){
                            
                            
                            
                        }else{
                            
                            
                            
                            
                        }
                    }
                });
        




    }

    $('#del_btn').click(submit_del_info);


</script>
{% endblock %}