{% extends 'base/base.htm' %}
{% block main %}

<div class="container" style = "overflow-x:auto;">
    
    
    <h1>添加项目</h1>
    <hr>
    <div>{{bsns_table_dict['$DISP_name']['ZH']}}:</div>
    <form class="form-horizontal"  role="form" id = "main_form">
        <input type="hidden" value ="{{bsns_table_dict['$TBNM']}}" name = "HIDDEN_b_name">
        {% for key, val in bsns_table_dict['$COLU'].items() %}
        <div class="form-group">
            {% if val['$AUTH_write'][user_info_dict['auth_role']] %}
            <label class="control-label col-sm-12 col-md-3" >
                {{ val['$DISP_name']['ZH'] }}
            </label>
            <div class="controls col-sm-12 col-md-6">
                {% if val['$AUTH_write'][user_info_dict['auth_role']] %}
                {% if val.get("$GENL_input_type") == 'select' %}
                <select class="form-control" name = "{{ val['$CLNM'] }}" >
                    {% for disp_key, disp_val in val['$DISP_displacer'].items() %}

                        <option value = "{{disp_key}}" >{{disp_val}}</option>

                    {% endfor %}
                </select>
                {% elif val.get("$GENL_input_type") == 'radio' %}
                    {% for disp_key, disp_val in val['$DISP_displacer'].items() %}

                        <input type="radio"  name = "{{ val['$CLNM'] }}" value = "{{disp_key}}">{{disp_val}}<br>

                    {% endfor %}
                {% elif val.get("$GENL_input_type") == 'textarea' %}
                <textarea class="form-control" rows="10" name = "{{ val['$CLNM'] }}"></textarea>
                {% else %}
                <input type="text" placeholder="" class="form-control" name = "{{ val['$CLNM'] }}">
                {% endif %}
                {% else %}
                    无权限填写
                {% endif %}
            </div>
            <p class = "help-block col-sm-12 col-md-3">
                discription
            </p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-default" id = "submit_button" class="form-control">提交</button>
        </div>
        <div id = "message_div">&nbsp;</div>
    </form>
</div>

<script>
        function submit_main_form(){
                $("#message_div").text("Loading...");
                $.ajax({
                    type: "POST",
                    url:"/general/json_api/target_insert",
                    data:$('#main_form').serialize(),
                    dataType: "json",
                    error: function(request) {
                        alert("Submit Connection Error");
                        alert($('#main_form').serialize());
                    },
                    success: function(result_json) {
                        $("#message_div").text(result_json.text);
                        //update_user_info();
                        if(result_json.status == "succeeded"){
                            
                            
                            
                        }else{
                            
                            
                            
                            
                        }
                    }
                });
        }
        $('#submit_button').click(submit_main_form);
        
        
</script>


{% endblock %}