{% extends 'base/base.htm' %}
{% block main %}
<div class="container" style = "overflow-x:auto;">
    <h1>用户登录</h1>
    <form id = "login_form" method = "post" >
        <div class="form-group">
            <input class="form-control" name = "username" type = "text" placeholder = "请输入用户名"/>         </br>
            <input class="form-control" name = "password" type = "password" placeholder = "请输入密码"/>       </br>
            <input class="form-control" id = "register_submit_button" type = "button" value = "提交"/>
            <div id = "login_message_div">&nbsp;</div>
        </div>
    </form>

</div>
<script>
function submit_login_form(){
    if($("#login_form").children("[name='password']").val() != ''){
        $("#login_message_div").text("Loading...");
        $.ajax({
            type: "POST",
            url:"/user/json_api/login",
            data:$('#login_form').serialize(),
            dataType: "json",
            error: function(request) {
                alert("login form submit Connection error");
                alert(this.data)
            },
            success: function(result_json) {
                $("#login_message_div").text(result_json.text);
                //update_user_info();
                if(result_json.status == "succeeded"){
                    
                
                
                }else{
                
                
                
                
                }
            }
        });
    }else{ 
        alert("密码！");
    }
}
$('#register_submit_button').click(submit_login_form);

</script>
{% endblock %}